@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: inset(50%);
	border: 0;
	clip: rect(0 0 0 0);
}

:root {
    --main-color: #FCEE21;
    --sub-color : #fff;
    --body-color :#5B2386;
}


html {
    font-size: 10px;
}

body {
    background-color: var(--body-color);
    font-family: 'GmarketSansMedium';
    font-size: 1.6rem;
}

.description, 
.expert-field span,
.time-field span,
.result div,
footer > p {
    color: var(--sub-color);
} 

/*데스크탑*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.wrap {
    margin-top: 14rem;
}



header h1 {
    background-image: url('/img/clock.png'); 
    background-repeat: no-repeat; 
    background-position: center;
    height: 22.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header  h1  img {
    width: 56.4rem;
    height: 11.2rem;
}


.subTitle {
    font-family: 'OTEnjoystoriesBA';
    font-size: 3.6rem;
    color: #F5DF4D;
    font-weight: bold;
    margin-top: 12.5rem;
}

.description p {
    font-size: 1.8rem;
    margin-top: 7.8rem;
    line-height: 1.8;
    background-image: url(/img/qutoes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 2rem;
}

.description strong {
    font-size: 2.4rem;
    font-family: 'GmarketSansBold';
}

.expert-field span,
.time-field span {
    font-size:2.4rem;
}

.expert-field  {
    margin-top: 10.2rem;
}
.time-field {
    margin-top: 2.7rem;
}

input{
    background-color: var(--sub-color);
    width: 22.8rem;
    height: 5.7rem;
    border-radius: 0.7rem;
    font-size: 2.4rem;
    color: #BABCBE;
    border: none;
}

input::placeholder {
    text-align: center;
}

button {
    border-radius: 5.6rem;
    border: none;
    color: var(--body-color);
    font-size: 2.4rem;
    text-align: center;
    font-family: 'GmarketSansBold';
}

.time button {
    background-color: var(--main-color);
    width: 56.5rem;
    height: 6.6rem;
    margin-top: 11.5rem;
}

.time div {
    background-image: url(/img/click.png);
    background-repeat: no-repeat;
    background-size: 6.4rem 7.2rem;
    background-position: right 2rem bottom -1rem;
}


.result {
    margin-top: 14.7rem;
}

.result div {
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.result div:nth-of-type(2) {
    margin-top: 1.7rem;
}

.result strong {
    font-weight: bold;
    font-size : 7rem;
}

.move {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.7rem;
    gap: 2.7rem;
}

.practice button {
    background-color: var(--main-color);
    width: 35.6rem;
    height: 6.6rem;
}

.share button {
    background-color: var(--sub-color);
    width: 19.1rem;
    height: 6.6rem;
}

footer img {
    width : 12.5rem;
    height: 2.5rem;
    margin-top: 13rem;
}

footer p {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR';
    text-align: center;
    line-height: 1.448;
    margin-top: 2rem;
    margin-bottom: 7rem;
}


/*데스크탑-모달창*/

.modal h1, .modal p {
    font-size: 9.6rem;
    color: var(--body-color);
    font-family: 'OTEnjoystoriesBA';
    font-weight: bold;
}

.modal h1 {
    margin-top: 7.6rem;
}

.modal p {
    font-size: 3.6rem;
    margin-top: 0.4rem;
}
.modal img {
    width: 43.3rem;
    height: 33.7rem;
    margin-top: 2.9rem 
}
.modal button {
    background-color: var(--main-color);
    color: var(--body-color);
    font-size: 2.4rem;
    font-family: 'GmarketSansBold';
    border: none;
    width: 50.8rem;
    height: 6.6rem;
    border-radius: 5.6rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 50%);
    margin-top: 7.4rem;
    margin-bottom: 6.8rem;

}
.modal {
    background-color: var(--sub-color);
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 50%);
    border-radius: 3rem;
    width: 80rem;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*모바일*/

@media (min-width:360px) and (max-width: 767px) {
    .wrap {
        margin-top: 7.6rem;
        flex-grow: 1;
        flex-shrink: 1;
        width: 36rem;
        height: auto;
    }
    
    header h1 {
        height: 10.698rem ;
        background-size: contain;
    }

    header  h1  img {
        width: 26.7rem;
        height: 5.3rem;
    }
    
    .subTitle {
        font-size: 2.2rem;
        margin-top: 6.9rem;
    }
    
    .description p {
        font-size: 1.4rem;
        margin-top: 6.2rem;
        background-size: 30.2rem 4.8rem;
        background-position: center 2rem;
    }

    .description strong {
        font-size: 1.4rem;
    }

    .plan form {
        display: flex;
        flex-direction: column;
    }

    .expert-field span,
    .time-field span {
        font-size:1.4rem;
    }
    
    .expert-field {
        margin-top: 6.2rem;
    }
    .time-field {
        margin-top: 2.7rem;
    }

    .time-field span:first-child{
        margin-bottom: 1.9rem;
    }
    
    input{
        width: 15.6rem;
        height: 3.7rem;
        border-radius: 0.7rem;
        font-size: 1.4rem;
    }
     
    .time button {
        width: 24.1rem;
        height: 6.8rem;
        margin-top: 4.9rem;
        border-radius: 1.3rem;
        font-size: 1.4rem ;
    }

    .time button span {
        display: flex;
        flex-direction: column;
    }

    .time div {
        background-size: 4.3rem 4.8rem;
        background-position: right 1.5rem bottom ;
    }
    
    

    .result {
        margin-top: 6.4rem;
        gap: 0.8rem;
    }
    
    .result div {
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    .result strong {
        font-size : 2.4rem;
    }
    
    .move {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.5rem;
        gap: 1.3rem;
    }
    
    .practice button {
        width: 18.6rem;
        height: 4rem;
        border-radius: 5.6rem;
        font-size: 1.4rem;
    }
    
    .share button {
        width: 9.2rem;
        height: 4rem;
        font-size: 1.4rem;
    }
    
    footer img {
        width : 9.1rem;
        height: 1.8rem;
        margin-top: 8.3rem;
    }
    
    footer p {
        font-size: 0.9rem;
        margin-top: 1.7rem;
        margin-bottom: 3.2rem;
    }


/*모바일-모달창*/
    .modal {
        width: 33rem;
        height: 50rem;
    }
    .modal h1 {
        font-size: 6.4rem;
        margin-top: 4rem;
    }

    .modal p  {
        font-size: 3.6rem;
        }

    .modal img {
        width: 24.1rem;
        height: 18.8rem;
        margin-top: 2.4rem 
    }
    .modal button {
        font-size: 1.4rem;
        width: 24.1rem;
        height: 6.8rem;
        border-radius: 1.3rem;
        margin-top: 3.4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}


